<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assessment</title>
    <link rel="stylesheet" href="../../public/output.css" />
  </head>
  <body>
    <main class="h-screen grid grid-cols-5">
      <%- include('./partials/aside')%>
      <section
        class="h-screen w-auto right-0 col-span-4 text-black px-10 py-8"
      >
        <div class="">
          <h1 class="uppercase text-center text-xl font-bold text-green-600">
            Federal University Dutse
          </h1>
          <p class="uppercase text-center text-sm mt-2 font-semibold">
            End-of-Programme npm run watchReport/Student Evaluation Sheet <br />
            Institution's/Department Assessment
          </p>
          <div class="my-6">
           
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-center">
                    <thead class="border-b bg-gray-50">
                      <tr class="bg-green-700">
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Description Item Reference
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Max. Score
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Actual Score
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Remark
                        </th>
                      </tr>
                    </thead class="border-b">
                    <tbody>
                    <tr class="bg-white border-b">
                        <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
                          Log Book Record                       
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                         25
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                         <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold" placeholder="20">
                        </td> 
                        <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                          <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold"  placeholder="A">
                         </td>
                    </tr class="bg-white border-b">
                    <tr class="bg-white border-b">
                      <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
                        Technical Report                      
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                       25
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                       <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold" placeholder="20">
                      </td> 
                      <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                        <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold"  placeholder="A">
                       </td>
                  </tr class="bg-white border-b">
                  <tr class="bg-white border-b">
                    <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
                      Attitudinal Observation                    
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                     15
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                     <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold" placeholder="20">
                    </td> 
                    <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                      <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold"  placeholder="A">
                     </td>
                </tr class="bg-white border-b">
                <tr class="bg-white border-b">
                  <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
                    Employee's Report                       
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                   10
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                   <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold" placeholder="20">
                  </td> 
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                    <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold"  placeholder="A">
                   </td>
              </tr class="bg-white border-b">
              <tr class="bg-white border-b">
                <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
                  Presentation                        
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                 25
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                 <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold" placeholder="20">
                </td> 
                <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                  <input type="text" class="border-2 border-black w-12 px-2 py-2 font-bold"  placeholder="A">
                 </td>
            </tr class="bg-white border-b">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <button class="w-full p-2 my-4 text-white bg-green-800 rounded cursor-pointer hover:bg-green-500 outline-none" type="submit">Submit</button>
            <h3>Comments on the Student overall performance:</h3>
            <form>
              <textarea
                class="border border-black"
                name=""
                id=""
                cols="40"
                rows="3"
              ></textarea>
            </form>
          </div>
        </div>
      </section>

    </main>
  </body>
</html>
