<aside
  class="h-screen w-62 left-0 top-0 p-8 col-span-1 bg-green-800 text-white"
>
  <div class="my-8">
    <h1 class="text-xl font-bold hover:cursor-pointer">e-SIWES Logbook</h1>
  </div>
  <nav class="my-4">
    <ul class="flex flex-col gap-6">
      <li class="my-4">
        <a
          href="/elogbook"
          class="text-white font-semibold hover:text-red-500"
          >Daily Report</a
        >
      </li>
      <li class="my-4">
        <a
          href="/weeklyreport"
          class="text-white font-semibold hover:text-red-500"
          >Weekly Report</a
        >
      </li>
      <li class="my-4">
        <a
          href="/coc"
          class="text-white font-semibold hover:text-red-500"
          >Code of Conduct</a
        >
      </li>
      <li class="my-4">
        <a href="/logout" class="text-white font-semibold hover:text-red-500"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</aside>
