
<footer class="w-full  bg-green-700 text-white px-8 py-4">
   <div class="flex justify-between items-center">
 <div class="uppercase hover:cursor-pointer">
        <h1 class="text-[17px]">E-Logbook</h1>
    </div>
     <ul class="flex items-center gap-6 font-semibold uppercase">
          <li>
            <a class="text-decoration-none text-white text-sm" href="/#">Home</a>
          </li>
           <li>
            <a class="text-decoration-none text-white text-sm" href="/login">Login</a>
          </li>
           <li>
            <a class="text-decoration-none text-white text-sm" href="/register">Register</a>
          </li>
        </ul>
   </div>
   <p class="text-center mt-3 text-sm font-semibold">All rights reserved &copy; @ 2023</p>
</footer>
</body>
</html>
