<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-logbook</title>

    <link rel="stylesheet" href="/public/output.css" />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/swiper-bundle.min.css" />

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/swiper-bundle.min.js"></script>
    <script src="/public/js/myjs.js"></script>
  </head>

  <body>
    <nav class="w-full flex justify-between items-center p-6">
        <div class="uppercase hover:cursor-pointer">
          <h1 class="text-[22px]">e-SIWES Logbook</h1>
        </div>
        <ul class="flex items-center gap-6 font-semibold">
          <li>
            <a class="text-decoration-none text-black uppercase" href="#">Home</a>
          </li>
           <li>
            <a class="text-decoration-none text-black uppercase" href="/login">Login</a>
          </li>
           <li>
            <a class="text-decoration-none text-black uppercase" href="/register">Register</a>
          </li>
        </ul>
    </nav>

