<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coc</title>
    <link rel="stylesheet" href="/public/output.css" />
  </head>
<body class="px-32">
  <div class="flex content-center my-10">
    <div>
      <img src="./images/itf_log.png" class="inline" />
    </div>
    <div class="ml-60">
      <h2 class="uppercase text-center font-semibold text-5xl text-[#2EBFBC]">
        SIWES UNIT
      </h2>
      <h3 class="uppercase text-center font-italic text-2xl text-[#2EBFBC]">
        Federal University Dutse
      </h3>
    </div>
  </div>
  <div class="ml-50">
    <h4 class="uppercase text-center font-semibold underline text text-white ">
      STUDENTS INDUSTRIAL WORK EXPERIENCE SCHEME(SIWES) CODE OF CONDUCT FOR
      STUDENTS
    </h4>
  </div>
  <p class="font-semibold text text-black">
    Students are to fully obey all rules and regulations of the organisation
    to which they are attached for practical experience. Breaches should be
    reported by organisation to the institution prommptly.
  </p>
  <p class="font-semibold text text-black">
    Students dressing at all times must be modest, neat and good. it should also
    conform to the didtates of their profession where applicable.
  </p> 
  <p class="font-semibold text text-black">
    Students are to be punctual for duty every working day. they are to resume
    and close close from work at the times officially scheduled by the host
    organisation. they are to sign a daily entry and exit attendance register
    throughout the period of attachment.
  </p>
  <p class="font-semibold text text-black">
    Absence from duty for cogent reasons must be properly documented and
    approved by the industrial based surpervisor. Absence without cogent reson
    and/or proper approval will attract appreciate displinary action
  </p>
  <p class="font-semibold text text-black">
    The organisation reserves the right to reject or send any student bact k
    to the university in any misconducts or act(s) incompatible with it's
    objectives and that of the SIWES of the Federal University Dutse.
  </p>
  <p class="font-semibold text text-black">
    All forms given out to students must be properly filled and submitted to
    the appropriate office(s) at the appropriate times during the SIWES
    programme.
  </p>
  <p class="font-semibold text text-black">
    Student must fill their e-logbook entries on the schedules and submit it
    to the school based surpervisor at the close of every friday for the
    duration of the attachment. It is the student's responsibility to ensure
    that his e-logbook are filled as appropriate.
  </p>
  <p class="font-semibold text text-black">
    Student must submit three typed and bound copies of their SIWES Report two
    weeks and after the period of the attachment.
  </p>
  <p class="font-semibold text text-black">
    Failure to abide by the SIWES code of conduct will attract displinary
    actions.
  </p>
  <div>
  </body>
  </html>