<%- include('./partials/header')%>
<main class="w-full my-8 bg-slate-200">
  <div class="flex justify-between items-center mb-6">
    <div class="w-1/2 pl-6">

     
      <h1>
        e-SIWES Logbook <br /><span class="text-green-800">Made Easier</span>
      </h1>
      <p class="w-70">
        The Student Industrial Work Experience Scheme (SIWES) E-logbook is an
        app that will enabale students to enter their daily report to be
        submitted at the end of every week to the school supervisor for proper
        monitoring and assessment of his/hert work
      </p>
    </div>
    <div class="w-1/2">
      <img src="/public/images/img1.jpg" alt="fud" />
    </div>
  </div>
  <div class="my-8"></div>
</main>
<%- include('./partials/footer')%>
